body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f6f6f2;
    font-size: large;
    height: auto;
    width: auto;
    background-color: #4d9297;
    padding-left: 40px;
}

img{
    display: inline-flex;
    max-height: 300px;
    max-width: 200px;
    height: auto;
    width: auto;
    left: 40px;
    border: 5px solid rgb(7, 139, 139);
    border-radius: 100%;
    align-items: right;
}

header{
    margin: -8px;
    padding: 10px 120px 1px 10px; 
    background-color: rgb(7, 139, 139);
    width: 100%;
}

a{
    color: #f6f6f2;
    height: auto;
    width: auto;
}

ul {
  list-style: none;
  height: auto;
  width: auto;
}

.titles{
    font-family: 'Courier New', Courier, monospace;
    color:#f6f6f2;
    padding-left: 20px;
}


.shift{
    padding-left: 20px;
}

#emails{
    display: none;
    padding-left: 40px;
}

#where-to-find-me{
    display: block;
    padding-left: 40px;
}

#change-text{
    position: relative;
    left: 15px;
    top: 55px;
    color: #f6f6f2;
    background-color: #4d9297;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid #f6f6f2;
    border-radius: 20%;
}

#change-text:hover{
    background-color: rgb(7, 139, 139);
}